@import '../../variables.scss';

.flag-images {
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 5px;
	display: inline-block;
	margin: 0 0.5rem;
	transition: transform 0.2s ease;
	pointer-events: all;
}

.flag-images:hover {
	cursor: pointer;
	transform: scale(1.2);
}

@media screen and (min-width: $large-screen) {
	#logo {
		display: block;
	}
	#hamburger-menu {
		display: none;
	}
}

@media screen and (max-width: $large-screen) {
	#logo {
		display: none;
	}
	#hamburger-menu {
		display: block;
	}
}
