.carbonImg {
  background-image: url("../../assets/img/carbon.svg");
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

h2 {
  text-decoration: underline #ff9d0a;
}
