<div class="grid grid-cols-2">
  <div class="flex flex-col justify-center items-center">
    <h2 class="font-bold text-4xl">{{ "heroTitle" | translate }}</h2>
    <p class="text-2xl mt-5 secondary">Full stack typescript developper</p>
    <p class="text-2xl secondary">
      <i class="fab fa-node-js text-green-600"></i> Node JS
      <i class="fab fa-angular text-red-600"></i> Angular 2+,
      <i class="fab fa-react text-blue-400"></i> React JS,
    </p>
    <p class="text-2xl secondary">
      <a class="mx-4" href="https://www.twitch.com/clemcode" target="_blank"
        ><i class="fab fa-twitch text-purple-600"></i
      ></a>
      <a
        class="mx-4"
        href="https://www.linkedin.com/in/cl%C3%A9ment-laurain-2b1b97182"
        target="_blank"
      >
        <i class="fab fa-linkedin-in text-blue-800"></i>
      </a>
    </p>
  </div>
  <div class="flex justify-center">
    <img class="rounded h-80" src="assets/img/me.jpeg" />
  </div>
</div>
