.frenchFlag {
	background-image: url('../../assets/img/franceFlag.svg');
}

.ukFlag {
	background-image: url('../../assets/img/ukFlag.svg');
}

.frenchFlag,
.ukFlag {
	height: 2rem;
	width: 2rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.frenchFlag:hover,
.ukFlag:hover {
	cursor: pointer;
	transform: scale(1.1);
}
