.sectionTitle {
	text-decoration: underline #ff9d0a;
}

.statusProject {
	border-radius: 5px;
	padding: 5px;
}

.repoLink:hover {
	color: #ff9d0a;
}

.allTag {
	vertical-align: sub;
	padding: 5px 8px;
	background-color: #ff9d0a;
	border-radius: 0.3rem;
}

.active {
	filter: none !important;
	transform: scale(1.3);
}

.tagTechno {
	filter: grayscale(100%);
}

.tagTechno:hover {
	transform: scale(1.3);
	filter: grayscale(0%);
}
