<div class="w-full">
	<h2 class="text-4xl font-bold text-center sectionTitle mb-12">
		#{{ 'projectsTitle' | translate }}
	</h2>
	<div class="flex justify-center mb-12">
		<div class="switchTechnologiesContainer text-center">
			<span
				class="inline-block mx-2 cursor-pointer allTag tagTechno text-base uppercase"
				(click)="technologies.technologySelected = undefined"
				[ngClass]="technologies.technologySelected === undefined ? 'active' : ''"
			>
				{{ 'all' | translate }}
			</span>
			<img
				[ngClass]="technologies.technologySelected === technology ? 'active' : ''"
				*ngFor="let technology of technologies.technologiesList"
				class="inline-block mx-2 cursor-pointer tagTechno"
				height="40px"
				width="40px"
				[src]="'../../assets/img/' + technology.label.toLowerCase() + '.png'"
				[alt]="technology.label.toLowerCase()"
				(click)="technologies.technologySelected = technology"
			/>
		</div>
	</div>
	<div class="mb-12 w-full">
		<div
			*ngFor="let project of projects.getProjectListsFiltered()"
			class="
				mb-8
				shadow-xl
				border-gray-200 border-2
				rounded
				xl:px-12
				lg:px-4
				py-6
				xl:mx-12
				mx-2
				relative
				text-right
			"
		>
			<span class="statusProject border-2 mr-2" [ngClass]="getClassStatusTag(project.status)">{{
				project.status | translate
			}}</span>
			<h3 class="font-bold text-2xl text-center">
				{{ project.title }}
			</h3>

			<p class="text-center">
				<img
					*ngFor="let technologie of project.technologies"
					class="inline-block mx-2"
					height="30"
					width="30"
					[alt]="technologie.label.toLowerCase()"
					[src]="'../../assets/img/' + technologie.label.toLowerCase() + '.png'"
				/>
			</p>
			<div class="flex justify-center">
				<div class="2xl:grid 2xl:grid-cols-2 flex flex-col items-center mt-6 w-full">
					<div class="w-3/4">
						<carousel
							[loop]="true"
							[autoplay]="true"
							[arrowsTheme]="'dark'"
							cellWidth="100%"
							[height]="getCarouselHeight()"
							[objectFit]="'contain'"
						>
							<div class="carousel-cell" *ngFor="let image of project.images">
								<img alt="slide" [src]="environnement.baseUrl + image.url" alt="" />
							</div>
						</carousel>
					</div>
					<div class="2xl:px-12 px-2">
						<div class="flex flex-col items-center text-left">
							<markdown [data]="project.description"></markdown>
						</div>
					</div>
				</div>
			</div>
			<p class="text-center textProject mt-6">
				<span class="block font-bold text-xl">Git</span>
				<a class="mx-2 repoLink" [href]="project.frontRepository" target="_blank">Frontend</a> /
				<a class="mx-2 repoLink" [href]="project.backRepository" target="_blank">Backend</a>
			</p>
		</div>
	</div>
</div>
