@import '../../variables.scss';

.step-img {
	height: 50px;
	width: 50px;
}

.top-line {
	height: 30px;
	width: 10px;
	background: $primary;
	margin-bottom: 10px;
}

.bottom-line {
	height: 30px;
	width: 10px;
	background: $primary;
	margin-top: 10px;
}

.cursus-step-container {
	grid-template-columns: 1fr 80%;
}

.not-completed {
	height: 50px;
	width: 50px;
	background-color: $secondary;
	color: $primary;
	text-align: center;
	border-radius: 100%;
	font-weight: bold;
}
