<div class="grid cursus-step-container">
	<div class="flex flex-col items-center">
		<div class="top-line"></div>
		<img *ngIf="data?.completed" class="step-img" src="../../assets/img/checked.svg" />
		<div *ngIf="!data?.completed" class="not-completed">. . .</div>
		<div class="bottom-line"></div>
	</div>
	<div class="flex flex-col">
		<h2 class="uppercase font-bold">{{ data?.title }}</h2>
		<p class="secondary text-sm">{{ data?.date }}</p>
		<p class="secondary text-sm">{{ data?.description }}</p>
	</div>
</div>
