.techno-image {
	width: 80%;
	margin: auto;
	padding: 5px;
	animation: technoImageAnim 1s ease;
	pointer-events: auto;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.techno-image:hover {
	transform: scale(1.2);
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
}

@keyframes technoImageAnim {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
