.menuItem {
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	font-weight: 500;
	margin: 0 10px;
	font-size: 18px;
}

.menuItem:hover {
	cursor: pointer;
	border-bottom: 3px solid #ff9d0a;
}

@media (min-width: 1px) {
	section {
		margin-top: 4rem;
	}
}

@media (min-width: 1280px) {
	section {
		margin-top: 10rem;
	}
}

.heroSection {
	margin-top: 2rem;
}
