<div class="side-menu" [ngClass]="isMenuOpen ? 'side-menu-opened' : 'side-menu-closed'">
	<div class="flex justify-end items-center side-menu-control">
		<i class="fas fa-times cursor-pointer" (click)="isMenuOpen = !isMenuOpen"></i>
	</div>
	<div class="flex justify-center w-full">
		<app-menu [(isMenuOpen)]="isMenuOpen"></app-menu>
	</div>
</div>

<div class="px-4 h-screen flex flex-col" [ngClass]="isMenuOpen ? 'filter grayscale' : ''">
	<header class="pt-6">
		<app-topbar [(isMenuOpen)]="isMenuOpen"></app-topbar>
	</header>
	<main class="flex-grow">
		<aside>
			<nav class="flex items-center" s>
				<app-menu></app-menu>
			</nav>
		</aside>
		<div
			[@routerTransition]="getState(outlet)"
			class="px-4 flex items-center justify-center h-full"
		>
			<router-outlet #outlet="outlet"></router-outlet>
		</div>
	</main>
	<footer class="flex relative" [ngClass]="isMobile ? 'justify-start' : 'justify-center'">
		<div class="project-nav" *ngIf="isProjectNavShowed">
			<div class="project-nav-large" *ngIf="!isMobile">
				<div class="aniWrap inline-block">
					<div class="mouse">
						<div class="scroller"></div>
					</div>
				</div>
				<p class="inline-block">{{ 'scrollToDiscoverProjects' | translate }}</p>
			</div>
			<div class="project-nav-small flex mt-8" *ngIf="isMobile">
				<div
					class="prev inline-block flex flex-col items-center mx-4"
					(click)="projects.getPrevProject()"
				>
					<i class="fas fa-chevron-left"></i>
					{{ 'prev' | translate }}
				</div>

				<div
					class="next inline-block flex flex-col items-center mx-4"
					(click)="projects.getNextProject()"
				>
					<i class="fas fa-chevron-right"></i>
					{{ 'next' | translate }}
				</div>
			</div>
		</div>
		<div class="copyright">
			laurainclem.com © {{ 'rightsReserved' | translate }} - {{ getActualYear() }}
		</div>
	</footer>
</div>
