@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Poppins', sans-serif;
	color: $primary;
	font-size: 16px;
}

@media screen and (min-width: 1280px) {
	* {
		font-size: 24px;
	}
}

body {
	background-color: $background;
	min-height: 100vh;
}

img {
	pointer-events: none;
}

app-home,
app-technologies,
app-cursus,
app-projects,
app-live,
app-contact {
	height: 100%;
	width: 100%;
}

app-technologies {
	display: flex;
	justify-content: center;
	align-items: center;
}

app-home {
	.message {
		padding: 0.6rem 2rem;
		background-color: $primary;
		width: fit-content;
		animation: message-anim 1s ease;

		h2 {
			color: $accent;
			font-weight: 700;
			font-size: 1.5rem;
		}
		p {
			color: $background;
		}
	}

	.fa-github {
		color: #333;
	}

	.fa-linkedin {
		color: #0077b5;
	}

	.fa-twitch {
		color: #9146ff;
	}

	.fab {
		font-size: 1.2rem;
		margin: 0 5px;
	}

	.hello-anim {
		animation: 1.2s ease hello-anim 1s;
	}

	.point-anim {
		animation: 1.2s ease point-anim 1s;
	}

	.firstCircle {
		animation: waitingCircle-anim 1s ease infinite;
	}
	.secondCircle {
		animation: waitingCircle-anim 1s ease infinite 0.2s;
	}
	.thirdCircle {
		animation: waitingCircle-anim 1s ease infinite 0.4s;
	}
}

@keyframes hello-anim {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(75deg) translateY(-10px);
	}
	50% {
		transform: rotateZ(0deg) translateY(0px);
	}
	75% {
		transform: rotateZ(75deg) translateY(-10px);
	}
	100% {
		transform: rotateZ(0deg) translateY(0px);
	}
}

@keyframes point-anim {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes message-anim {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes waitingCircle-anim {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-6px);
	}
	100% {
		transform: translateY(0px);
	}
}
