@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Poppins', sans-serif;
	color: $primary;
	font-size: 16px;
}

@media screen and (min-width: 1280px) {
	* {
		font-size: 24px;
	}

	.header-project {
		justify-content: space-between;
	}

	.project-img {
		max-height: 100%;
	}
}

@media screen and (max-width: 1280px) {
	.header-project {
		flex-direction: column;
	}

	.project-img {
		max-height: 350px;
	}
}
body {
	background-color: $background;
	min-height: 100vh;
}

.secondary {
	color: $secondary;
}

img {
	pointer-events: none;
}

app-project {
	animation: project-anim 1s ease;
}

app-home,
app-technologies,
app-cursus,
app-projects,
app-live,
app-contact,
app-project {
	height: 100%;
	width: 100%;
}

app-technologies {
	display: flex;
	justify-content: center;
	align-items: center;
}

app-home {
	.message {
		padding: 0.6rem 2rem;
		background-color: $primary;
		width: fit-content;
		animation: message-anim 1s ease;

		h2 {
			color: $accent;
			font-weight: 700;
			font-size: 1.5rem;
		}
		p {
			color: $background;
		}
	}

	.fa-github {
		color: #333;
	}

	.fa-linkedin {
		color: #0077b5;
	}

	.fa-twitch {
		color: #9146ff;
	}

	.fab {
		font-size: 1.2rem;
		margin: 0 5px;
	}

	.hello-anim {
		animation: 1.2s ease hello-anim 1s;
	}

	.point-anim {
		animation: 1.2s ease point-anim 1s;
	}

	.firstCircle {
		animation: waitingCircle-anim 1s ease infinite;
	}
	.secondCircle {
		animation: waitingCircle-anim 1s ease infinite 0.2s;
	}
	.thirdCircle {
		animation: waitingCircle-anim 1s ease infinite 0.4s;
	}
}

$elements: 15;
@for $i from 0 through $elements {
	app-cursus-step:nth-child(0n + #{$i}) > .cursus-step-container {
		animation: cursusStepAnim 1s ease calc(#{$i} * 200ms) both;
	}
}

app-cursus {
	overflow: hidden;
}

.end-line > .grid > .flex > .bottom-line {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.start-line > .grid > .flex > .top-line {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.subtitle {
	font-size: 800;
}

.subtitle,
.listItemProject,
.textProject {
	color: $secondary;
	font-size: 16px;
}

.subtitleBlock {
	margin-top: 1rem;
}

@keyframes hello-anim {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(75deg) translateY(-10px);
	}
	50% {
		transform: rotateZ(0deg) translateY(0px);
	}
	75% {
		transform: rotateZ(75deg) translateY(-10px);
	}
	100% {
		transform: rotateZ(0deg) translateY(0px);
	}
}

@keyframes point-anim {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes message-anim {
	from {
		opacity: 0;
		transform: translateX(100px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes waitingCircle-anim {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-6px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes cursusStepAnim {
	from {
		opacity: 0;
		transform: translateY(30vh);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes project-anim {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
