@import '../../variables.scss';

.img-home {
	width: 100%;
	max-width: 600px;
}

.message {
	border-radius: 5px 15px 15px 5px;
	margin-top: 5px;
}

.waiting-message {
	background-color: $secondary;
	div {
		height: 10px;
		width: 10px;
		display: inline-block;
		margin: 0 5px;
		background-color: $background;
		opacity: 0.7;
	}
}

.message:first-child {
	border-radius: 15px 15px 15px 5px;
}

.message:last-child {
	border-radius: 5px 15px 15px 15px;
}

.grid-messages {
	grid-template-columns: 1fr 80%;
}

.avatar-msg {
	position: absolute;
	height: 84px;
	left: -90px;
	bottom: 0px;
}

.avatar-container {
	height: 0px;
	transition-property: height;
	transition-duration: 1s;
	transition-timing-function: ease;
}
