@import '../../variables.scss';

.img-home {
	width: 100%;
	max-width: 600px;
}

.message {
	border-radius: 5px 15px 15px 5px;
	margin-top: 5px;
}

.waiting-message {
	background-color: $secondary;
	div {
		height: 10px;
		width: 10px;
		display: inline-block;
		margin: 0 5px;
		background-color: $background;
		opacity: 0.7;
	}
}

.message:first-child {
	border-radius: 15px 15px 15px 5px;
}

.message:last-child {
	border-radius: 5px 15px 15px 15px;
}

.grid-messages {
	grid-template-columns: 1fr 80%;
}

@media screen and (min-width: 1280px) {
	.avatar-msg {
		height: 84px;
	}
}

@media screen and (max-width: 1280px) {
	.avatar-msg {
		height: 60px;
	}
}

.avatar-msg {
	left: -90px;
}

#avatarContainer {
	height: 0;
	display: flex;
	overflow: hidden;
	align-items: flex-end;
	transition-property: height;
	transition-duration: 0.5s;
}
